@background: #F7EADC;
@Abackground: rgba(77, 59, 54, 0.8);
@Sword: #4D3B36;
@Bword: #F56A57;

//a {
//    text-decoration: none;
//    color: #555;
//}
//#page {
//    padding: em;
//    background: #fafafa;
//}
//#content {
//    clear: both;
//    padding-top: 1em;
//}
//nav {
//    a {
//        color: #fff;
//    }
//}

//ul{#menu {li {a {
//	position: fixed;
//    
////	width: 130px;
//	text-align: center;
//	background: transparent;
//	float: right;
//	color: white;
//	font-size: 1.2em;
//	z-index: 1000;
//	
//    }}}}

//ul.menu {
//  padding: 0;
//  width: 275px;
//  
//  li {
//    
//    display: block;
//   
//     right: 100px;
//    background: #777;
//    margin: 0;
//    padding: .5em 0;
//    -webkit-box-sizing: border-box;
//	  -moz-box-sizing: border-box; /* Fixes Firefox bug */
//	  box-sizing: border-box;
//  width: 20%;
//    text-align: center;
//    
//    &:hover {
//      background: #888;
//    }
//  }
//}




//.sidebar {
//    position:absolute;
//    padding: 10px;
//    
//    
//    z-index: 1000;
//    li {
//        
//        color:#ffffff;
//        display: block;
//        float: right;
//        background: transparent;
//        margin: 0;
//        padding: 0;
////        -webkit-box-sizing: border-box;
////        -moz-box-sizing: border-box;
////        box-sizing: border-box;
//        width: 20%;
//        text-align: center;
//    }
//    li:hover {
//        background: #888;
//    }
//}
//
//
//nav {
//    width: 70%;
//    position: absolute;
//    left: -70%;
//    top: 0;
//    height: 100%;
//    background: #777;
//}
//ul.menu {
//    border-top: 1px solid #888;
//    li {
//        float: none;
//        width: 100%;
//        text-align: left;
//        padding: .5em 1em;
//        box-sizing: border-box;
//        border-bottom: 1px solid #888;
//    }
//}
//a.open-panel, a.close-panel {
//    display: inline;
//}
//.close-panel {
//    position: relative;
//    top: .5em;
//    left: 1em;
//}

.blur{-webkit-filter:;
    -moz-filter: ;
    -ms-filter: ;
    -o-filter: ;
    filter:;
}
.blur_cover{-webkit-filter:;
    -moz-filter: ;
    -ms-filter: ;
    -o-filter: ;
    filter:;
}
.cross{
         margin-top: 90px;
         position:absolute;
         z-index:1000;
    
          left: 195px;
          
          width: 20px;
          height: 20px;
          opacity: 0.6;

        &:hover {
          opacity: 1;
           
        }
        &::before, &::after {
          position: absolute;
          margin-left: 10px;
          content: ' ';
          height: 20px;
          width: 2px;
          background-color: #ffffff;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
    
            
            
    
    -webkit-transform: translate3d(-255px, 0, 0);
    -moz-transform: translate3d(-255px, 0, 0);
    -ms-transform: translate3d(-255px, 0, 0);
    -o-transform: translate3d(-255px, 0, 0);
    transform: translate3d(-255px, 0, 0);
    -webkit-transition: -webkit-transform 500ms ;
    -moz-transition: -moz-transform 500ms ;
    -o-transition: -o-transform 500ms ;
    transition: transform 500ms ;    
    
        }
.sidebar{
        background-color:#F57E6A ;//#FF7B6B;
        margin-top: 100px;
        padding-top: 0px;
        h5{
            margin:0;
            padding: 15px;
            font-family: "Raleway";
            font-weight: 300;
            text-align: left;
            color: white;
            font-size: 15px;
            &:hover{
                opacity: 0.6;
                
            }      
        }
        border: 3px solid @Bword;
        border-radius: 0px 25px 25px 0px; 
        display:block;
        float:left;
        width: 300px;
        height:250px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 170px;
//        box-shadow: 5px 5px 0 #FDD7AB;
    /*#4D3B36;*/
        
        
        
    -webkit-transform: translate3d(-400px, 0, 0);
    -moz-transform: translate3d(-400px, 0, 0);
    -ms-transform: translate3d(-400px, 0, 0);
    -o-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-400px, 0, 0);
    -webkit-transition: -webkit-transform 500ms ;
    -moz-transition: -moz-transform 500ms ;
    -o-transition: -o-transform 500ms ;
    transition: transform 500ms ;
    }


.openNav {
    .row  {
        right: 0;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
        -webkit-transition: -webkit-transform 500ms ;
        -moz-transition: -moz-transform 500ms ;
        -o-transition: -o-transform 500ms ;
        transition: transform 500ms ;
    }
}
.row {
    
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ;
    -moz-transition: -moz-transform 500ms ;
    -o-transition: -o-transform 500ms ;
    transition: transform 500ms ;
}

